.wrapper {
  display: grid;
  height: 100%;
  width: 100%;

	.configPane {
    grid-column: 1;
		border-right: 1px solid #ccc;
		width: 250px;
  }

  .fileList {
    grid-column: 2;
		border-right: 1px solid #ccc;
  }

  .fileMetadata {
    grid-column: 3;
  }

	.outputSetting{
		grid-column: 4;
	}
}
